APScheduler==3.10.4
GeoAlchemy @ https://github.com/hozn/GeoAlchemy/archive/0.7.3dev1.tar.gz
PyMySQL==1.1.1
colorlog==4.1.0
datadog==0.33.0
envparse==0.2.0
freezing-model @ https://github.com/freezingsaddles/freezing-model/archive/0.8.2.tar.gz
greenstalk==1.0.1
polyline==1.4.0
pytz==2024.2
requests==2.32.3
stravalib==1.2.0
