APScheduler==3.11.0
GeoAlchemy2==0.16.0
PyMySQL==1.1.1
colorlog==6.9.0
datadog==0.50.2
envparse==0.2.0
freezing-model @ https://github.com/freezingsaddles/freezing-model/archive/0.10.4.tar.gz
greenstalk==2.0.2
pytz==2024.2
requests==2.32.3
stravalib==1.2.0
